<div class="caixa_atributo_valor">
  <div class="atributo">
    CNPJ
  </div>
  <%= f.text_field :cnpj, class: 'text-field' %>
</div>

<div class="caixa_atributo_valor">
  <div class="atributo">
    Email para contato
  </div>
  <%= f.text_field :email_para_contato, class: 'text-field' %>
</div>
