<div class="lista-produtos">
  <ul>
    <% categoria.each do |categorium| %>
      <div class="item-lista">
        <img src="<%= asset_path('folder_icon.png') %>" alt="iconezinho windows">
        <li><%= link_to "#{categorium.nome}", categorium_path(categorium) %></li>
      </div>
    <% end %>
  </ul>
</div>